<div class = "d-flex" style="height: 90vh;">
  <div appInfiniteScroll (scrollToEnd)="loadMoreCharacters()" class="col-12" style="overflow-y: auto; height: 50%;">
  <table class="table">
    <thead class="thead-light">
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Name</th>
          <th scope="col">Status</th>
          <th scope="col">Specie</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let character of characters">
          <td>{{ character.id }}</td>
          <td>{{ character.name }}</td>
          <td>{{ character.status }}</td>
          <td>{{ character.species }}</td>
    
        </tr>
      </tbody>
    </table>
  
  </div>

</div>