<div class="container episode-details">
  <div class="row">
    <div class="col-12 row">
      <div class="col-6" style="height: 221px;">
        <h2>{{ episode?.name }}</h2>
        <p><strong>Air Date:</strong> {{ episode?.air_date }}</p>
        <p><strong>Episode:</strong> {{ episode?.episode }}</p>

      </div>
      <div class="image-preview col-6" *ngIf="selectedCharacterImage">
        <h2>{{ selectedCharacterName }}</h2>
        <img [src]="selectedCharacterImage" alt="{{ selectedCharacterImage }}" class="img-fluid">
      </div>
      <div class="characters">
        <h3>Characters</h3>
        <ul class="custom-scrollbar">
          <li *ngFor="let characterUrl of episode?.characters" 
          (click)="goToDetails(characterUrl)"
          (mouseover)="showImage(charactersImage[characterUrl], charactersNames[characterUrl])" 
          (mouseleave)="hideImage()" class="li-char">
            <!-- Assumindo que você tem uma função para buscar o nome do personagem usando a URL -->
            {{ charactersNames[characterUrl] || 'Carregando...' }} 
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>