.episode-details h2 {
    color: var(--color-primary);
}
  
.episode-details p {
    color: var(--color-accent);
    font-size: 1.1em;
}

.episode-details .characters h3 {
    color: var(--color-primary);
}

.episode-details .characters ul {
    list-style-type: none;
    padding: 0;
}

.episode-details .characters ul li {
    background-color: var(--color-secondary);
    color: var(--color-accent);
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
}

.episode-details .image-preview {
    border: 1px solid var(--color-info);
    padding: 5px;
    border-radius: 5px;
    text-align: center;
  }
  
  .img-fluid {
    max-width: 100%;
    max-height: 150px; 
  }
.custom-scrollbar{
    max-height: 500px; 
    overflow-y: auto;
    border: 1px solid var(--color-info);
    border-radius: 5px 0px 0px 5px;
}