<div class="card h-100">
  <img *ngIf="imageUrl; else defaultImage" [src]="imageUrl" class="card-img-top" alt="{{ name }}">
  <ng-template #defaultImage>
    <div class="card-img-top placeholder-image">
      <span>{{ title | titlecase }}</span>
    </div>
  </ng-template>
  <div class="card-body">
    <h5 class="card-title">{{ title | titlecase }}</h5>
    <p class="card-text">{{ name }}</p>
    <p class="card-text">Total: {{ count }}</p>
    <a href="#" class="btn btn-primary">See List</a>
  </div>
</div>