.placeholder-image {
    background-color: var(--color-secondary);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 372px; /* ou a altura desejada */
    font-size: 1.5rem;
    color: var(--color-accent);
  }